//Fonts
$font-primary: 'Plus Jakarta Sans', sans-serif;

//Colors
$color-white: #f8f8f7;
$color-black: #0d1b2a;
$color-blue: #1b263b;
$color-navy: #415a77;
$color-light-blue: #778da9;
$color-grey: #e0e1dd;
